RPC_URL_ARBITRUM=
RPC_URL_ETHEREUM=
BLOCK_NUMBER_ETHEREUM=20656242

# Pick from the above
RPC_URL=
BLOCK_NUMBER=20656242

# OLD,not sure of its use
PRIVATE_KEY="0x..."
SENDER="0x..."

DEFAULT_ANVIL_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80